{% extends 'base.html.twig' %}
{% block title %}About - Coding Challenge{% endblock %}
{% block titre_page %}&Agrave; propos{% endblock %}
{% block body %}
<br>
<p>Ce site a été développé durant l'année universitaire 2020-2021 à l'IUT de Valence par: BOUILHOL Jérémie, DOHOU Medhy, TESTU Maxime, et VEY     &Eacute;milie.
Ce site a été développé dans le cadre des projets obligatoire de deuxième année. Nous avons été supervisé par JEAN Sébastien, enseignant au département informatique de l'IUT de Valence, et chercheur au laboratoire LCIS, dans l'équipe CTSYS.</p>
{% endblock %}