{% extends 'base.html.twig' %}

{% block title %}S'inscrire - Coding Challenge 
{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
{% endblock %}
{% block titre_page %}S'inscrire{% endblock %}
{% block body %}
	<img src="img/logo.png" alt="logo" class="logo">
	{% form_theme registrationForm 'foundation_5_layout.html.twig' %}
    {{ form(registrationForm)}}
{% endblock %}
