{% extends 'user_settings_panel/user_settings_panel_base.html.twig' %}

{% block titre_page %}Changer de mot de passe{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
    {% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
	{{ form(form)}}
{% endblock %}
