{% extends 'base.html.twig' %}
{% block title %}CGU - Coding Challenge{% endblock %}
{% block titre_page %}Nos CGU{% endblock %}
{% block body %}
<br>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Cette
politique de confidentialité a été mise à jour en mars 2021.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">L’IUT
de Valence s’engage à protéger et à respecter votre vie privée.
La présente politique de confidentialité présente la manière dont
nous collectons, utilisons et partageons les informations qui vous
identifient ou qui vous sont associées (« informations personnelles
»).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=5><B>Informations
que nous recueillons</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Lorsque
vous utilisez le service, nous recueillons les catégories
d’informations ci-dessous.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=5><B>Informations
que vous nous transmettez directement</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Nous
recueillons les informations que vous nous transmettez ou que vous
transmettez au service. Voici des exemples de cas où nous sommes
susceptibles de recueillir des informations directement auprès de
vous&nbsp;:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Les
	informations liées au compte telles que le pseudo et l’adresse
	email.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Lorsque
	vous remplissez et soumettez des formulaires sur le service, y
	compris les formulaires transmis au moment de l’inscription au
	service, lors d’évaluations, lors du signalement d’un problème
	avec le service ou lorsque vous nous demandez un complément
	d’information.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Lorsque
	vous nous contactez, nous sommes susceptibles de conserver une copie
	de cette correspondance.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Lorsque
	vous participez à des sondages sur le service.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Lorsque
	vous publiez des commentaires ou des avis sur le service (chat,
	forum, ...) ou sur un site internet tiers sur lequel nous possédons
	un profil ou sur lequel nous sommes présents.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Nous
ne recueillons pas de données sensibles.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=5><B>Utilisation
des informations que nous recueillons</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Nous
utilisons les informations que nous recueillons aux fins de&nbsp;:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Gérer
	votre compte et vous permettre d’utiliser le service, valider et
	préserver l’exactitude de vos informations personnelles. Pour
	cela, nous utiliserons les informations que vous nous transmettez
	directement.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Permettre
	aux employeurs d’accéder à votre profil.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Vous
	informer des modifications apportées au service et vous permettre
	de nous transmettre des réclamations, des commentaires et des
	problèmes que vous pourriez rencontrer lors de votre utilisation du
	service. Pour cela, nous utiliserons les informations que vous nous
	transmettez directement.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Prévenir,
	détecter et enquêter sur les activités illégales, les violations
	des accords que nous avons conclus avec vous et les menaces à la
	sécurité du service. Pour cela, nous utiliserons les informations
	que vous nous transmettez directement ainsi que les informations
	concernant votre connexion et utilisation du service.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Générer
	des statistiques agrégées et des analyses sur les utilisateurs du
	service et leurs activités, sans toutefois qu’ils puissent être
	identifiés individuellement.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=5><B>Intégrité
et conservation des informations personnelles</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Coding
Challenge conservera vos informations personnelles pour la durée
nécessaire aux finalités décrites dans la présente politique de
confidentialité, sauf si une période de conservation plus longue
est imposée ou permise par la loi en vigueur. Dans la plupart des
cas, nous conserverons vos données à caractère personnel pendant
toute la durée de votre abonnement et jusqu’à ce que vous
décidiez de supprimer votre compte.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">À
la suite de la suppression de votre compte, toutes vos données à
caractère personnel seront supprimées.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=5><B>Amendements
à notre politique de confidentialité</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Tout
amendement que nous serions amenés à apporter à notre politique de
confidentialité dans le futur sera publié sur cette page.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.1in; line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 13pt">Nous
pouvons changer, modifier, ajouter ou supprimer des parties de cette
politique de confidentialité à tout moment afin de préserver la
transparence que nous appliquons lors du traitement de vos données.
Nous mettrons en œuvre les efforts raisonnables pour vous avertir de
la survenue de changements substantiels. Nous pouvons procéder à
cela par email ou via la publication d’un avis sur le site, selon
ce que nous considérons approprié. Toute modification entraînera
la mise à jour de cette politique de confidentialité. Nous vous
invitons à consulter régulièrement notre politique de
confidentialité pour être informé de telles modifications et vous
pouvez vous y opposer en vous désabonnant du service (c’est-à-dire
en supprimant votre compte). Veuillez en outre noter que différentes
parties de la présente politique de confidentialité peuvent vous
être applicables dans différentes situations, selon votre
interaction particulière avec notre service.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
{% endblock %}