{% extends 'base.html.twig' %}

{% block title %}Coding challenge - Classement global{% endblock %}

{% block body %}

<table class="table">
    <thead>
			<th>Pseudonyme</th>
			<th>Score total</th>
	</thead>
    {% for user in users %}
    <tbody>
        <td>
            <tr> {{ user['username'] }} </tr>
            <tr> {{ user[score] }} </tr>
        </td>
    </tbody>
    {% endfor %}
</table>

{% endblock %}